<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디/비번 찾기</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/id,%20pw.css">


</head>

<body>
    <header id="login">
        <h1>DAILY</h1>
        <h1>LOG</h1>
    </header>
    <section>
        <article id="left">
            <div id="left_content" class="idpw_article">
                <p class="idpw_title">아이디/ 이메일 찾기</p>
                <p style="float: left">이름</p>
                <div class="id">
                    <input type="email" class="email_input">
                </div>
                <p style="float: left">전화번호</p>
                <div class="id">
                    <input type="email" class="email_input">
                </div>
                <p style="float: left">생년월일</p>
                <div class="id">
                    <input type="email" class="email_input">
                </div>
                <input type="submit" class="submit" value="아이디 찾기">
            </div>
        </article>
        <article id="right">
            <div id="right_content" class="idpw_article">
                <p class="idpw_title">비밀번호 찾기</p>
                <p style="float: left">전화번호</p>
                <div class="id">
                    <input type="email" class="email_input">
                </div>
                <input type="submit" class="submit" value="비밀번호 찾기">




        </article>
    </section>

</body>
</html>
