<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
</head>

<body>
<section id="login">
    <header class="Input">
        <h1>DAILY</h1>
        <h1>LOG</h1>
    </header>
    <p class="small">로그인에 필요한 정보를 입력해주세요</p>
    <article>
        <p>이메일</p>
        <input type="email" class="email_input">
        <p id = "password">비밀번호</p>
        <input type="email" class="email_input">
        <p class="no_email" onClick="location.href='url'">입력한 계정이 없다면?</p>
        <input type="submit" class="submit" value="로그인">
        <p class="nosign">아직 회원이 아니세요? <span onClick="location.href='url'" class="signup">회원가입</span></p>
    </article>
</section>
</body>
</html>
