<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/write2(update)style.css">
    <link rel="stylesheet" href="../static/css/myapge.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">

    <title>DAILY LOG</title>

</head>
<body>
<div>
    <!-- 헤더 시작 -->
    <header id="header">
        <div>
            <a href="/"><h1>DAILY<br>LOG</h1></a>
        </div>
        <!-- 네비 시작 -->
        <nav id="nav">
            <ul>
                <li><a href="#">지도보기</a></li>
                <li><a href="#">기록하기</a></li>
                <li><a href="#">랭킹보기</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </nav>
        <!-- 네비 끝 -->
        <div class="nav_icon">
            <img src="../static/assets/search.png" alt="메뉴의 검색 아이콘">
            <img src="../static/assets/like.png" alt="메뉴의 좋아요 아이콘">
            <img src="../static/assets/mypage.png" alt="메뉴의 마이페이지 아이콘">
        </div>
    </header>
    <!-- 헤더 끝 -->
    <div class="top_hr">
        <hr>
    </div>
<main id="main">
    <h1>오늘 제일 햅삐한 하루 <3</h1>
    <p>제주도</p>
    <p>하니, 다니엘, 민지 등</p>
    <article>
        <div class="picture">
            <img src="../static/assets/newjeans.png" alt="메뉴의 마이페이지 아이콘">
        </div>
        <p>2022년 11월 30일</p>
        <p>맑음 일식</p>
        <div class="comment">
            내가 만든 쿠키 너를 위해 구웠지But you know that it ain't for free, yeah내가 만든 쿠키너무 부드러우니자꾸만 떠오르니널 choco-chip으로Sprinkle로입맛 버리게 만들고 싶어숨기고 있지만 널 더 보고 싶어If you want itYou can get itIf you want it네 목소리를 또 들려줘 boy식사는 없어 마음속을 녹이지So good, yeahLooking at my cookie역시 향기부터 다르니 (Taste it)한입은 모자라니널 choco-chip으로Sprinkle로정신 못 차리게 만들고 싶어숨기고 있지만 널 더 보고 싶어If you want itYou can get itIf you want it
        </div>
        <div class="btn">
            <input type="submit" class="submit" value="수정">
            <input type="submit" class="submit" value="삭제" style="background-color: #FF774D">
        </div>
    </article>
</main>
<!-- 푸터 시작 -->
<footer id="footer">
    <div class="bottom_hr">
        <hr>
    </div>
    <div>
        <p>Copyright 2022 . DAILYLOG . All Rights Reserved .</p>
        <p>전체서비스 이용약관 개인정보처리방침 통합검색 고객센터 © DAILY LOG</p>
    </div>
</footer>
<!-- 푸터 끝 -->

</body>
</html>