* {
    font-family: 'Noto Sans KR', sans-serif;


}

#main {
    width: 37.5rem;
    height: 68.75rem;
    display: block;
    text-align: center;
    border-radius: 0.625rem;
    margin: auto;
    padding: 1.25rem;
}

p {
    display: block;
    padding: 0.188rem;
    font-size: 0.938rem;
    text-align: center;
    color: #9B9B9B;
    text-align: right;
}

.picture > img {
    width: 100%;
    height: 500px;
}

.comment {
    display: block;
    margin: auto;
    width: 31.25rem;
    line-height: 1.875rem;
    margin-top: 3.125rem;
}

.submit {
    width: 6.25rem;
    height: 50px;
    display: block;
    outline: none;
    border-radius: 1.25rem;
    background-color: #33B3FF;
    color: white;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    margin-right: 6.25rem;
}

.btn {
    display: inline-block;
    margin: auto;
    margin-top: 100px;
}
